@use "./colors.scss" as *;
@use "./typography.scss" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input:focus {
  outline: none;
}

// scroll bar

 /* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #8e8e8e #f8fafc;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #f8fafc;
}

*::-webkit-scrollbar-track:hover {
  background-color: #f8fafc;
}

*::-webkit-scrollbar-track:active {
  background-color: #f8fafc;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #8e8e8e;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #878787;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #8e8e8e;
}


// components

.title {
  font-family: $big-font;
  font-size: $h1-size;
  color: $color-black;
  @media (max-width: 1100px) {
    font-size: 48px;
  }

  @media (max-width: 500px) {
    font-size: 38px;
  }
}

.subheading {
  font-family: $small-font;
  font-size: $text-normal;
  color: $small-font-color;
  @media (max-width: 500px) {
    font-size: 16px;
  }
}

.paragraphs {
  font-family: $small-font;
  font-size: $text-mini;
  color: $small-font-color;
}

.h2Regular {
  font-family: $big-font;
  font-size: $h2-size;
  color: $color-black;
  @media (max-width: 1100px) {
    font-size: 30px;
  }
}

.h5Regular {
  font-family: $big-font;
  font-size: $h5-size;
  color: $color-black;
  @media (max-width: 1100px) {
    font-size: 19px;
  }
}

.category {
  font-family: $small-font;
  font-size: $text-cap;
  color: #02b989;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.btn-bg {
  font-family: $small-font;
  font-size: $text-mini;
  color: #334155;
  font-weight: 600;
  padding: 12px 18px;
  border-radius: 5px;
  text-align: center;
  background: $primary-green;
  border: none;
  transition: 0.3s all;
  &:hover {
    background-color: #005a43;
    color: #f8fafc;
    cursor: pointer;
  }
}

.btn-nobg {
  font-family: $small-font;
  font-size: $text-mini;
  color: #334155;
  font-weight: 600;
  padding: 12px 18px;
  border-radius: 5px;
  border: 2px solid $primary-green;
  background: $bg;
  text-align: center;
  transition: 0.3s all;
  &:hover {
    border-color: #02b989;
    cursor: pointer;
  }
}
