@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend&display=swap');

// font families
$big-font: "Lexend", sans-serif;
$small-font: "Inter", sans-serif;

// font sizes
$h1-size: 60px;
$h2-size: 39px;
$h4-size: 28px;
$h5-size: 23px;
$text-normal: 20px;
$text-mini: 14px;
$text-cap: 10px;